BODY {background-color: #000000;
	color: #ffffff;}

H1 {text-align: left;
	background-color: #ff00ff;}

H2 {text-align: left;
	background-color: #ff69b4;}

H3 {text-align: left;
	background-color: #add8eb;}	

div.center {
  text-align: center;
}

div.right {
  text-align: right;
}

a:link {color: #ffa500;
		text-decoration: none}
a:active {color: #87CEEB;
		text-decoration: none}
a:visited { color: #696969;
		text-decoration: none}

table { border : 1px outset black }
th, td { border : 1px inset black }

/* After typing command,I use this to display result */
/* When I need to display some contents in a file, I use this. */
.PROGRAMLISTING {
	padding: 1ex;
	background-color: #eee;
	border: 1px solid #ccc;
}

/* When I need to explain example. I use this. */
.EXAMPLE {
	background: #eee;
	border: 1px solid #f1bb16;
	margin: 1em 0;
	padding: 0.2em 2em;
	width: 90%;
}

/* When I need to introduce useful link, I use this. */
.USEFUL_LINK {
	background: #fefde6;
	border: 1px solid #f1bb16;
	margin: 1em 0;
	padding: 0.2em 2em;
	width: 90%;
}


/* When I need to give some tips, I use this. */
BLOCKQUOTE.TIP {
	color: #004F00;
	background: #d8ecd6;
	border: 1px solid green;
	padding: 0.2em 2em;
	width: 85%;
}

/* When I need to warn something, I use this */
BLOCKQUOTE.WARNING {
	color: #9F1313;
	background: #f8e8e8;
	border: 1px solid #e59595;
	padding: 0.2em 2em;
	width: 85%;
}

td.nowrap {
white-space: nowrap;
}


